.img-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 30%;
        height: 140px;
    }

    /* ITEM */

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1280px;
        height: auto;
        margin: 20px auto 0px;
        background-color: #f5f5f5;
    }    

    .img-cart {
        height: 300px;
        width: 450px;
        margin: 5px;
    }

    .card-body {
        text-align: center;
    }
    
    .card-body h4 {
        font-weight: bold;
        font-size: 1rem;
    }
}