/* ITEM LIST */

.products-container {
    display: flex;
    flex-direction: column;

    /* ITEM */

    .card {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        height: auto;
        margin: 35px auto 0px;
        background-color: $color-background;
    }

    .img-cart {
        max-height: 100%;
        max-width: 100%;
        width: 100%;

    }

    .card-title {
        color: $color-white;
        text-underline-offset: 6px;

        h2 {
            font-size: 2.8rem;
            font-weight: bold;
        }
    }
}