header {
    .bg-body-tertiary {
        --bs-tertiary-bg-rgb: $color-background;

        .container {
            margin-right: 0px;
            margin-left: 0px;

            a.navbar-brand {
                img {
                    width: 240px;
                    height: 50px;
                }
            }

            .me-auto {
                align-items: center;

                a {
                    font-weight: 800;
                    font-size: 1.7rem;
                    color: $color-black;
                    margin: 0px 20px;
                }
            }

            .navbar-nav {
                margin-left: auto;
                align-items: center;

                a {
                    font-weight: 800;
                    color: $color-black;
                }

            }
        }
    }
}