.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsCarrito {
    height: 300px;
    width: 450px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}