/* COLOR PALETTE */

$color-black: #0c0b0b;
$color-pink: #f6b8d5;
$color-strong-pink: #B94735;
$color-grey: #E4E8ED;
$color-white: white;
$color-background: #f5f5f5;


/* NAVBAR BOOTSTRAP */

$nav-link-color: $color-black;
$card-title-color: $color-white;
$link-color-rgb: $color-white;